<h3>identity</h3>

your identity on our service is preserved by a web path you are redirected to (argument called 'secret'). so bookmark the page in order to be able to 'login' later.

<h3>cookies</h3>

we use session cookies as a precausary measure for preservation of your identity. but they are not obligatory, you are free to reject them. 

<h3>verification</h3>

results of the games are generated and hashed before the game starts. this is used to be able to proove that we didn't addjust the game while you were playing.


<h3>payouts</h3>

In order to protect ourselves from bitcoin protocol manipulation we allow payouts after the transaction has been validated by more then 50 nodes 
