

<form action="https://www.mybitcoin.com/sci/paypage.php" method="post" target="_blank">
<input type="hidden" name="amount" value="1.00">
<input type="hidden" name="currency" value="USD">
<input type="hidden" name="payee_bcaddr" value="14cg1bYBme9qkVazH2JaspEi6hvomQHCjA">
<input type="hidden" name="payee_name" value="DAp39A">
<input type="hidden" name="note" value="note note">
<input type="hidden" name="success_url" value="http://lgate-public:45284/success">
<input type="hidden" name="cancel_url" value="http://lgate-public:45284/fail">
<input type="hidden" name="baggage" value="some data">
<input type="submit" name="submit" value="Purchase with Bitcoin">
</form>