.blackbox {
    background: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
} 

body {
    font-size: 85%;
    font-family: "Helvetica", Arial, sans-serif;
}
.header {
    /*
    float: center;
    width: 750px;
    margin-left: auto ;
    margin-right: auto ;
*/
    background: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 12px;
} 


.footer {
    background: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 12px;
} 



.tabcontent {
    background: white;
    color: black;
    text-decoration: none;
    padding: 0px;

} 

.subtab {
/*
    float: center;
    width: 700px;
    margin-left: auto ;
    margin-right: auto ;
*/
    margin-left: 1px;
    margin-right: 1px;
  border: 1px solid black;
  background: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
  margin-top: 12px;
  margin-bottom: 12px;

}

.float-right {
    float: right;
}

.betbtn {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center; 
  vertical-align:middle;
  line-height: 40px;

}

.btn { 
  background-color: #555555; 
  color: white;
  border: 1px solid #888888;
  margin-right: 1.5px;
  margin-left: 1.5px;
  padding-right: 5px;
  padding-left: 5px;
  cursor:pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}


.btn:hover {
    cursor:pointer;
    background-color: #777777;
    margin-bottom: -5px;
    padding-bottom: -5px;
}


.blackborder { 
  border: 1px solid #000000;}

.box {
  background-color: #555555; 
  border: 1px solid #888888;
  margin-right: 3px;
  padding-right: 5px;
  padding-left: 5px;
  cursor:pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}




.editable {
    font-weight: "bold";
}

.cash {
    color: #00FF00; 
    font-size: 1.1em;
    font-weight: "bold";
}

.referalcount {
    color: #33AAFF; 
    font-size: 1.1em;
    font-weight: "bold";

}


.minefieldcash {
    color: #00FF00; 
    font-size: 1.1em;
    font-weight: "bold";
  cursor:pointer;
}

.editable input {
    border: 0px;
    background: #555555;
    color: white;
}



.message {
  border: 0px;
  position: fixed;
  top: 40%;
  left:45%;
  background: #ddd;
  opacity: 0.9;
  font-size: 1.5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;

}

.vmiddle {
    vertical-align: middle;
}

.btnlarge { 
  display: block;
  background-color: #555555; 
  color: white;
  border: 1px solid #888888;
  margin: 1.5px;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor:pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: middle;
}



.mine { 
  display: block;
  color: white;
  border: 2px solid black;
  margin: -4px;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor:pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}




.mine_yes { 
  background-image:url(/img/bomb.png);
  background-size: 100%;
/*  background-color: #bb5555;  */
}

.mine_no { 
  background-image:url(/img/dirt.png);
  background-size: 100%;
/*  background-color: #55bb55;  */
}

.mine_step_yes { 
  background-image:url(/img/bomb_step.png);
  background-size: 100%;
/*  background-color: #ff4444;  */
}

.mine_step_no { 
  background-image:url(/img/dirt_step.png);
  background-size: 100%;
/*  background-color: #44ff44; */
}


.mine_undefined { 
  background-image:url(/img/grass.png);
  background-size: 100%;
}

.mine_undefined:hover { 
  background-image:url(/img/grass_selected.png);
  background-size: 100%;
}


.btnlarge:hover {
    cursor:pointer;
    background-color: #777777;
}

.transactionhistory td {
    text-align: center;
    align: center;
    padding: 10px;
}


.transactionhistory tr:hover {
    text-align: center;
    align: center;
    padding: 10px;
    background-color: #ccd;
}

.plus {
    text-color: green;
    text-size: 2em;
    text-decoration: bold;
}


.sync_minefield_hash {
    cursor: pointer;
}

.minus {
    text-color: red;
    text-size: 2em;
    text-decoration: bold;

}

h3,h2,h1 {
    text-shadow: 0 2px 3px #999999;
    letter-spacing: -1px;
}



a:link {
    color: black;
    text-decoration: underline;

}

a:hover {
    text-decoration: underline;
}


a:visited {
    text-decoration: underline;
    color: black;
}